<!DOCTYPE html>
<html>

<head>
    <title>College Eligibility</title>
</head>

<body>

    <h1>College Eligibility Checker</h1>

    <form action="/college" method="POST">

        <label>Name:</label>
        <input type="text" name="name" required>

        <br><br>

        <label>Marks:</label>
        <input type="number" name="marks" min = "0" max="100" required>

        <br><br>

        <button type="submit">
            Check Eligibility
        </button>

    </form>

    {% if result %}

        <h2> Result </h2>

        <p> Name : {{name}}</p>
        <p> Marks : {{marks}}</p>
        <p>Result : {{result}}</p>

    {% endif %}

</body>

</html>